<div class="panel panel-default" *ngIf="cityName">
  <div class="panel-heading">
    <h3 class="panel-title">5-day forecast for {{cityName}}</h3>

  </div>
  <ul class="list-group">
    <!---->
    <li class="list-group-item" *ngFor="let forecast of forecast5Days">
      {{forecast.date | date: 'EEEE, MMM d'}}:
      {{forecast.condition}}
      - Min: {{forecast.minTemp}}
      - Max: {{forecast.maxTemp}}

      <img class="icon" [src]="forecast.conditionImgUrl">
    </li>
  </ul>
</div>
<div class="custom-pad" *ngIf="alert">
  <span class="error-alert">{{alert}}</span>
</div>
<button routerLink='/' class="btn btn-success" tabindex="0" id="mainPageBtn">&lt; Back to main page</button>